<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Deny" users="*" />
            </authorization>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>

    <location path="public" allowOverride="false">
        <system.webServer>
            <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
            <defaultDocument>
                <files>
                    <clear />
                </files>
            </defaultDocument>

            <security>
                <authorization>
                    <remove users="*" roles="" verbs="" />
                    <add accessType="Allow" users="*" roles=""/>
                </authorization>
                <requestFiltering>
                    <hiddenSegments>
                        <clear />
                    </hiddenSegments>

                    <fileExtensions>
                        <clear />
                    </fileExtensions>

                </requestFiltering>
            </security>
            <staticContent>
                <clear />
                <mimeMap fileExtension="*" mimeType="application/octet-stream" />
            </staticContent>
            <handlers>
                <clear />
                    <add name="File" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
            </handlers>
        </system.webServer>
    </location>
</configuration
